$light-red: #FF5252;
$header-color: #FA2828;
$light-grey: #E5E5E5;
$card-img-bg-color: #C4C4C4;
$dark-grey: #988F8F;
$card-bg-color: #4D4747;
$main-bg-color: #363232;

$white: #fff;
$black: #000;

$card-shadow: rgba(0, 0, 0, 0.35);